body {
    background-color: rgb(221, 227, 223);
    color: #fff;
}

#index-background {
    background-image: url(img/annie-spratt-209137.jpg);
    background-size: cover;
    height: 100vh;
}

#row-background {
    background-image: url(img/paulo-morales-1975.jpg);
    background-size: cover;
    height: 100vh;
}

#input {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
/*    margin-left: 40%;*/
    align-items: center;
    padding-left: 5px;
}

input {
    width: 305px !important;
    height: 30px !important;
    
}

nav {
    background-color: rgb(212, 225, 208);
    padding-left: 2%;
}

.addedImage {
    height: 100px;
    width: auto;
}

.active,
a,
i,
p,
input,
button {
    color: gray;
}

.page-header {
    background-color: lightblue;
    padding-left: 2%;
}

h1,
h6,
h4 {
    padding-top: 1%;
    color: #fff;
}

#newGarden {
    background-color: aliceblue;
    height: 25%;
    width: 25%;
    color: black;
    border-radius: 25px;
    
}

#output {
    padding: 1% 0 0 0;
    color: white;
    background-color: rgba(173, 216, 230, 0.7);
    /*    opacity: .7;*/
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.garden {
    
    background-color: white;
    opacity: 1;
    margin-bottom: 20px;
    border-right: 2px solid rgba(173, 216, 230, 0.3);
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 25px;
    padding-bottom: 1%;
    /*    margin-left: 1%;*/
/*    margin-right: 1px;*/
}

#garden4 {
    margin: 0 2px 0 2px;
/*    display: inline-flex;*/
    
    
}

#column {
    padding: 1% 0 0 2%;
    color: white;
    background-color: rgba(173, 216, 230, 0.7);
    opacity: .7;
}

#myRow {
    display: block;
    align-items: center;
    padding-top: 2%;
}

#imgQuote1 {
    /*float:*/
    height: auto;
    width: auto;
    max-width: 5%;
    max-height: 5%;
    margin-bottom: 1%;
}

.quote1,
.profileQuote {
    margin: 1% 2% 1% 2%;
}

#garden1 {
    background-image: url(img/agence-producteurs-locaux-damien-kuhn-97729.jpg);
    background-size: cover;
    height: 100%;
}

.letters {
    font-size: 16px;
}

#garden2 {
    /*
    display: flex;
    flex-direction: row;
    align-content: center
*/
}

#output {}

#container-fluid3 {
    background-image: url(img/paulo-morales-1975.jpg);
    background-size: cover;
    height: 100vh;
}

#formProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
